<!--注意外面的div不要复制进去-->
<div id="MySignature">
    <div style="text-align: center;margin-top: 30px;margin-bottom: 50px">The END</div>
    <div style="border:dashed 1px rgb(95, 94, 94);display: flex;flex-direction: row;
                padding: 10px;">
        <!--头像地址-->
        <img src="https://s1.ax1x.com/2018/12/11/FYp8N6.md.gif"
             border="0" 
             style="width: 30px;height:30px;border-radius: 15px"/>
        <p style="font-size:20px;color:#272525;margin: 0;color: rgb(102, 97, 97);">
            <!--博客首页地址以及博主名称-->
            <a href=https://www.cnblogs.com/wangnig">
                勉强的猫
            </a>
            ，编程路上的小学生
        </p>
        <div style="margin-left: 20px;margin-right: 20px;border-left: 2px solid rgb(68, 64, 64);"></div>
        <div style="font-size:20px;color: rgb(122, 115, 115);">
            欢迎关注我的：
        </div>
        <!--github账号地址以及图片-->
        <a href="https://github.com/creatapp">
            <img src="https://s1.ax1x.com/2018/12/11/FYPe9f.png"
                 style="margin-left: 30px;width: 30px;height:30px;border-radius: 15px"/>
        </a>
        <!--gitee码云账号地址以及图片-->
        <a href="https://gitee.com/wangnig">
            <img src="https://s1.ax1x.com/2018/12/11/FYPm38.png"
                 style="margin-left: 30px;width: 30px;height:30px;border-radius: 15px"/>
        </a>
    </div>
</div>